/* You can add global styles to this file, and also import other style files */
html,
body,
app-root {
  margin: 0;
  padding: 0;
}
/* 不显示滚动条，只对基于 Webkit 内核的浏览器有效 */
::-webkit-scrollbar {
  display: none;
}
